@import '../../shared/colors.scss';

.job {
  margin: 1em 0;
}

.job-description {
  margin: 0 !important;
}

.job-image-bg {
  background-color: $gray;
  display: flex;
  align-items: center;
}

.job-image {
  max-width: 80%;
  margin: 0 auto;
}
