<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <base href="/">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marsxn</title>
  <link rel="stylesheet" href="assets/css/app.css">
  <script src="assets/bower_components/angular/angular.min.js"></script>
  <script src="assets/bower_components/angular-route/angular-route.min.js"></script>
</head>

<body ng-app="marsxnApp">
  <!-- Site Header-->
  <header class="padtop-1 padbottom-1" ng-controller="indexController">
    <div class="row align-center">
      <div class="small-10 medium-8 large-6 column profile">
        <div class="row align-middle">
          <div class="small-4 column">
            <img src="{{ marsxn.picture }}" alt="{{ marsxn.fullname }}">
          </div>
          <div class="small-8 column">
            <h1>{{ marsxn.fullname }}</h1>
            <h4>{{ marsxn.job }}</h4>
          </div>
        </div>
      </div>
    </div>
    <!--Nav-->
    <nav>
      <div class="row column align-center martop-1">
        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="" ng-click="toggle = !toggle"><span ng-show="!toggle">Contactame!</span><span ng-show="toggle">{{ marsxn.mail }}</span></a></li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Dynamic Content -->
  <main class="row align-center">
    <div class="small-12 medium-10 column" ng-view></div>
  </main>

  <!--Site Footer-->
  <footer class="padtop-2 padbottom-2 martop-2" ng-controller="indexController">
  
    <div class="row column align-center">
      <ul class="menu">
        <li ng-repeat='(name, url) in marsxn.social'>
          <a href="{{ url }}" target="_new">{{ name }}</a>
        </li>
      </ul>
    </div> 

    <div class="row column text-center align-center">
      <small>
        Copyright © 2016 {{ marsxn.fullname }} - {{ marsxn.location }}
      </small>
    </div>
  </footer>

  <!--Angular Scripts-->
  <script src="app/app.js"></script>
  <script src="app/services/apiDataService.js"></script>
  <script src="app/shared/index/indexController.js"></script>
  <script src="app/components/main/mainController.js"></script>
  <script src="app/components/portfolio/portfolioController.js"></script>
</body>

</html>