<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <base href="/">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marsxn</title>

  <!--SEO-->
  <meta name="description" content="Soy desarrollador web, estudiante de ingeniería de sistemas en UAI e hincha de River Plate. Autodidacta y entusiasta de lo que se viene. Python, Javascript.">
  <meta name="keywords" content="Dev, Developer, Web Developer, Web Dev, Web, Desarrollo, Javascript, AngularJS, NodeJs, Python, Django, Mysql">
  <meta name="author" content="Marco Puccio">
  <meta name="robots" content="index,nofollow">
  <meta name="google" content="notranslate">

  <!--FAVICON-->
  <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="assets/img/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/img/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/img/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!--SITE SRCS-->
  <link rel="stylesheet" href="assets/css/app.css">
  <script src="assets/bower_components/angular/angular.min.js"></script>
  <script src="assets/bower_components/angular-route/angular-route.min.js"></script>
</head>

<body ng-app="marsxnApp">
  <!-- Site Header-->
  <header class="padtop-1 padbottom-1" ng-controller="indexController">
    <div class="row align-center">
      <div class="small-10 medium-8 large-6 column profile">
        <div class="row align-middle">
          <div class="small-4 column">
            <img src="{{ marsxn.picture }}" alt="{{ marsxn.fullname }}">
          </div>
          <div class="small-8 column">
            <h1>{{ marsxn.fullname }}</h1>
            <h4>{{ marsxn.job }}</h4>
          </div>
        </div>
      </div>
    </div>
    <!--Nav-->
    <nav>
      <div class="row column align-center martop-1">
        <ul class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="" ng-click="toggle = !toggle"><span ng-show="!toggle">Contactame!</span><span ng-show="toggle">{{ marsxn.mail }}</span></a></li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Dynamic Content -->
  <main class="row align-center">
    <div class="small-12 medium-10 column" ng-view></div>
  </main>

  <!--Site Footer-->
  <footer class="padtop-2 padbottom-2 martop-2" ng-controller="indexController">

    <div class="row column align-center">
      <ul class="menu">
        <li ng-repeat='(name, url) in marsxn.social'>
          <a href="{{ url }}" target="_new">{{ name }}</a>
        </li>
      </ul>
    </div> 

    <div class="row column text-center align-center">
      <small>
        Copyright © 2016 {{ marsxn.fullname }} - {{ marsxn.location }}
      </small>
    </div>
  </footer>

  <!--Angular Scripts-->
  <script src="app/app.js"></script>
  <script src="app/services/apiDataService.js"></script>
  <script src="app/shared/index/indexController.js"></script>
  <script src="app/components/main/mainController.js"></script>
  <script src="app/components/portfolio/portfolioController.js"></script>

  <!--ANALITICS-->
  
</body>
</html>