<section class="excerpt">
  <div class="row">
    <div class="small-12 column">
      <h1>Objetivo</h1>
    </div>
    <div class="small-12 column">
      <p>{{ main.excerpt }}</p>
    </div>
  </div>
</section>
<section class="purpouse">
  <div class="row">
    <div class="small-12 column">
      <h1>Proposito</h1>
    </div>
    <div class="small-12 column">
      <p>{{ main.purpouse }}</p>
    </div>
  </div>
</section>
<section class="xbox">
  <div class="row">
    <div class="small-12 column">
      <h1>TL;DR</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-8 columm small-centered">
      <div class="flex-video">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/0l_1WI9OLAQ" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>