<section class="excerpt">
  <div class="row padtop-2 padbottom-2">
    <div class="small-12 column">
      <h1>Extracto</h1>
    </div>
    <div class="small-12 column martop-1">
      <p>{{ main.excerpt }}</p>
    </div>
  </div>
</section>
<section class="purpouse">
  <div class="row padtop-2 padbottom-2">
    <div class="small-12 column">
      <h1>Propósito</h1>  
    </div>
    <div class="small-12 column martop-1">
      <p>{{ main.purpouse }}</p>
    </div>
  </div>
</section>
<section class="xbox">
  <div class="row padtop-2 padbottom-2 align-center">
    <div class="small-12 column">
      <h1>TL;DR</h1>
    </div>
    <div class="small-12 medium-8 columm">
      <div class="flex-video">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/0l_1WI9OLAQ" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>