<nav id="navbar" class="navbar is-danger">
  <div class="container">
    <div class="navbar-brand">
      <router-link :to="{ name: 'home' }" class="navbar-item image-link">
        <img :src="profile.image.url" :alt="profile.image.alt" class="image">
      </router-link>

      <div id="navbarBurger" class="navbar-burger burger" data-target="navigation">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navigation" class="navbar-menu">
      <div class="navbar-start">
        <router-link :to="{ name: 'home' }" class="navbar-item">
          Home
        </router-link>
        <router-link :to="{ name: 'aboutMe' }" class="navbar-item">
          Sobre Mi
        </router-link>
        <router-link :to="{ name: 'experience' }" class="navbar-item">
          Experiencia
        </router-link>
        <a
          href="https://github.com/marcopuccio/marcopuccio.github.io/tree/v2018"
          target="_blank"
          class="navbar-item"
        >
          this.code <i class="fa fa-github-alt this-code-icon"></i>
        </a>
        <a
          href="https://2016.marcopuccio.me/"
          target="_blank"
          class="navbar-item"
        >
          v2016</i>
        </a>
      </div>
      <div class="navbar-end">
        <SocialMediaLink
          v-for="sm in social"
          :key="sm.slug"
          :social-media="sm"
          style-classes="navbar-item"
        />
      </div>
    </div>
  </div>
</nav>
