<section class="websites padtop-3"> 
  <div class="row column">
    <h1 class="vader">Websites #</h1>
  </div>
  <div class="row column martop-2" ng-repeat="site in portfolio.websites">
    <div class="row site" ng-repeat="client in site">
      <div class="small-12 medium-5 column image">
        <img src="{{ client.image }}" alt="{{ client.name }}">
      </div>
      <div class="small-12 medium-7 column resume">
        <h3><a href="{{ client.url }}" target="_new">{{ client.name }}</a></h3>
        <p>{{ client.summary }}</p>
        <div class="row martop-1 tech">
          <div class="column" ng-repeat="tech in client.tech">
            <span class="{{ tech | lowercase }}"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="libs padtop-6 padbottom-2">
  <div class="row column">
    <h1 class="stormtrooper">Libs #</h1>
  </div>
  <div class="row small-up-1">
    <div class="column martop-1" ng-repeat="libs in portfolio.libs">
      <div ng-repeat="lib in libs">
        <h3><a href="{{ lib.url }}" target="_new">{{ lib.name }}</a></h3>
        <p>{{ lib.summary }}</p>
      </div>
    </div>
  </div>
</section>