<div>
  <section class="hero is-medium is-danger red-bottom-box-shadow">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-1 black-shadow-text">About Me</h1>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container content">
      <p class="is-size-5">
        {{ aboutMe.whoami }}
      </p>
      <p class="is-size-5">
        {{ aboutMe.goal }}
      </p>
      <p class="is-size-5">
        {{ aboutMe.challenge }}
      </p>
    </div>
  </section>
</div>
